<html>
<head>
<title>Cuentas</title>
</head>
<body>
<h1>Cuentas</h1>
<form name='form' action=Accounts/Transfer method=post>
<input type=submit name=login value="Transferencia!">
</form>
<form name='form' action="/" method=post>
<input type=submit name=login value="Atras!">
</form>
<table  style="width:100%">
<tr>
<td>Number</td>
<td>Cliente</td>
<td>Balance</td>
</tr>
{%for a in acc%}
<tr>
<td>{{a.number}}</td>
<td>{{a.client}}</td>>
<td>{{a.balance}}</td>
</tr>
{%endfor%}
</table>
</body>
</html>