<html>
<head>
<title>Transferir</title>
</head>
<body>
<h1>Transferencia</h1>
{%if error%}
<h2>{{desc_error}}</h2>
<form name='form' action="Transfer" method=post>
<input type=submit name=login value="Volver a Ingresar Datos!">
</form><br>
{%else%}
<h2>Transferencia Correcta</h2>
{%endif%}
<form name='form' action="/Accounts" method=post>
<input type=submit name=login value="Volver a Lista de Cuentas!">
</form>
</body>
</html>